<!DOCTYPE html>
<html>
<head>
{% block head %}
<meta charset="utf-8">
<title>{% block title %}Pokemania{% endblock title %}</title>
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

<!-- fonts + icons -->
<script src="https://kit.fontawesome.com/cb4da4b0f0.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
<!-- end fonts + icons -->

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock styles %}
{% endblock head%}
</head>
<body>
    {% block nav %}
    <div class="navbar{{' mini-nav' if hasMiniNav}}">
        <div class="nav-left">
            <a class="nav-link nav-hoverable" href="/">Home</a>
            <a class="nav-link nav-hoverable" href="/bets">Bets</a>
            <a class="nav-link nav-hoverable" href="/leaderboard">Leaderboard</a>
        </div>
        <a class="home-anchor nav-hoverable" href="/"><i class="fa-solid fa-squid"></i></a>
        <div class="nav-right">
            {% if current_user.is_anonymous%}<a class="nav-link nav-hoverable" href="/login">Sign In</a>
            {% else %}
            <a class="nav-link nav-hoverable" href="/profile">Profile</a>
            {% if current_user.is_admin %}<a class="nav-link nav-hoverable" href="/bracketmaster">Bracketmaster</a>{% endif %}
            {% if current_user.is_admin %}<a class="nav-link nav-hoverable" href="/admin">Admin</a>{% endif %}
            {% endif %}
        </div>
    </div>
    {% endblock nav %}
    <div class="content {{'screen-centered' if not screen_centered}}">
    {% block content %}{% endblock content%}
    </div>
    {% if not no_squid_bg %}<div class="squid-bg"></div><div class="squid-bg-grad"></div>{% endif %}
    </body>
</html>