{% extends "basics/base.jinja" %}

{% set has_mini_nav, not_screen_centered, not_squid_bg, is_unboxed = False, False, False, False %} {# technically optional, just to demonstate what state variables can be changed #}

{% block content %}
<p>lets go gambling!</p>
<p class="text-align-center">this has to get built after the brackets<br>so itll probably be the last feature added</p>
<p>later me's problem!</p>
<p><i>-scott</i></p>
<a class="anchor-button-wide" href="{{ url_for('give_admin') }}">Give Scott/Will Admin</a>
{% endblock content %}