{% extends "base.jinja" %}

{% set hasMiniNav, not_screen_centered, not_squid_bg = False, False, False %} {# technically optional, just to demonstate what state variables can be changed #}

{% block content %}
    <div class="main-box">
    <t>will build later</t>
    <i>-scott</i>
    </div>
{% endblock content %}