{% extends "base.jinja" %}

{% set hasMiniNav, screen_centered, squid_bg = False, True, True %}

{% block content %}
    <div class="main-box">
    <t>will build later</t>
    <i>-scott</i>
    </div>
{% endblock content %}