{% extends "base.jinja" %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; justify-content:flex-start">
    <t>i beefed it. this error's on me (probably) (unless ur doing something weird) (which, dont? ig?)</t>
    <t>error code: {{error}}. idk what it means. google it or whatever.</t>
    <a href="/" style="text-decoration: underline;">go home</a>
</div>
{% endblock %}