{% extends "basics/base.jinja" %}

{% set has_mini_nav, not_screen_centered, not_squid_bg, is_unboxed = False, False, False, False %} {# technically optional, just to demonstate what state variables can be changed #}

{% block content %}
<div class="bracket-box">
    {% for line in vert_lines %}
        <div class="bracket-vert-line" style="left:{{ line.x/8 }}rem;top:{{ line.y/8 }}rem;height:{{ line.size/8 }}rem;"></div>  {# dividing by 8 to make nicer unit sizes #}
    {% endfor %}
    {% for line in hori_lines %}
        <div class="bracket-hori-line" style="left:{{ line.x/8 }}rem;top:{{ line.y/8 }}rem;width:{{ line.size/8 }}rem;"></div>  {# dividing by 8 to make nicer unit sizes #}
    {% endfor %}
</div>
{% endblock content %}