{% extends "base.jinja" %}

{% set hasMiniNav, screen_centered, squid_bg, skipDataDisclosure = True, True, True, False %}

{% block content %}
<div class="main-box">
    <h1>Sign In</h1>
    <div class="data-disclosure {{'hidden' if skipDataDisclosure}}">
    <h3>What Data Are We Using?</h3>
    <ul>
        <li>Discord Username</li>
        <li>Discord User ID</li>
    </ul>
    <h3>Why Are We Using It?</h3>
    <p>We use this data for bot integration and identity verification. Also, sign ins through Discord allows us
    to keep no important data, namely passwords, on our servers.</p>
    </div>
    <div class="divider {{'hidden' if not skipDataDisclosure}}"></div>
    <a class="funky-button" href="{{ url_for('authorize') }}"><i class="fa-brands fa-discord"></i><p>Sign In with Discord</p></a>
</div>
{% endblock content %}