{% extends "base.jinja" %}

{% set hasMiniNav, not_screen_centered, not_squid_bg = True, False, False %} {# technically optional, just to demonstate what state variables can be changed #}

{% block content %}
<div class="main-box">
    <h1 style="margin-top: 0px">Log Out</h1>
    <div class="divider"></div>
    <p style="font-size:1.25rem;margin-bottom:0;">You have been logged out.</p>
    <a href="/" class="funky-button" style="width:10rem;justify-content:center;"><p>Home</p></a>
</div>
{% endblock %}