{% extends "basics/base.jinja" %}

{% set has_mini_nav, not_screen_centered, not_squid_bg, is_unboxed, has_flash = False, False, False, False, True %} {# technically optional, just to demonstate what state variables can be changed #}

{% block content %}
<h1>Bracketmaster</h1>
<a class="anchor-button-wide" href="{{ url_for('bracketmaster_manage_brackets') }}">Manage Brackets</a>
<a class="anchor-button-wide" href="{{ url_for('bracketmaster_manage_decks') }}">Manage Decks</a>
<div class="divider" style="width:100%;"></div>
<a class="anchor-button-icon" href="{{ url_for('index') }}"><i class="fa-solid fa-arrow-left"></i></a>
{% endblock content %}