{% extends "basics/base.jinja" %}

{% set has_mini_nav, not_screen_centered, not_squid_bg, is_unboxed, has_flash = False, False, False, False, True %} {# technically optional, just to demonstate what state variables can be changed #}

{% block content %}
<h1>Decks</h1>
<div class="dev-panel-container">
    <div class="dev-panel-row bold">
        <span class="dev-panel-col-wide">ID</span>
        <span class="dev-panel-col-wide">Name</span>
        <span class="dev-panel-col-medium">Matches</span>
        <span class="dev-panel-col-medium">Wins</span>
        <span class="dev-panel-col-wide">Image URI</span>
        <span class="dev-panel-col-skinny text-align-center">Update</span>
        <span class="dev-panel-col-skinny text-align-center">Delete</span>
    </div>
    <div class="scrollable" style="max-height:25rem;">
    {% for deck in decks %}
    <div class="divider" style="width:100%;"></div>
    <form action="{{ url_for('bracketmaster_update_deck') }}" method="get"><div class="dev-panel-row">
        <input name="id" type="hidden" value="{{ deck[0].id }}">
        <span class="dev-panel-col-wide">{{ deck[0].id }}</span>
        <span class="dev-panel-col-wide"><input type="text" name="name" value={{ deck[0].name }}></span>
        <span class="dev-panel-col-medium"><input type="text" name="matches" value={{ deck[0].matches }}></span>
        <span class="dev-panel-col-medium"><input type="text" name="wins" value={{ deck[0].wins }}></span>
        <span class="dev-panel-col-wide"><input type="text" name="image_uri" value={{ deck[0].image_uri }}></span>
        <span class="dev-panel-col-skinny"><a class="anchor-button-icon" onclick="document.getElementById('update-submit-{{deck[0].id}}').click()"><i class="fa-solid fa-pen-to-square" style="margin-right:.3rem;"></i></i></a><input type="submit" class="hidden" id="update-submit-{{deck[0].id}}"></span>
        <span class="dev-panel-col-skinny"><a class="anchor-button-icon" href="{{ url_for('bracketmaster_delete_deck', id=deck[0].id) }}"><i class="fa-solid fa-trash"></i></a></span>
    </div></form>
    {% endfor %}
    </div>
    <div class="dev-panel-row">
    <div class="dev-panel-row">
        <span class="dev-panel-col-skinny"><a class="anchor-button-icon" href="{{ url_for('bracketmaster') }}"><i class="fa-solid fa-arrow-left"></i></a></span>
        <span class="dev-panel-col-skinny"><a class="anchor-button-icon" href="{{ url_for('bracketmaster_create_deck') }}"><i class="fa-solid fa-square-plus"></i></a></span>
    </div>
        
    </div>
    
</div>
{% endblock content %}