{% extends "base.jinja" %}

{% set hasMiniNav, screen_centered, squid_bg = False, False, False %}

{% block content %}
<div style="main-box">
    <t>you silly goose! you can't be here!</t>
    <t>code 403: forbidden</t>
    <a href="/" class="funky-button">go home</a>
</div>
{% endblock content %}