{% extends "basics/base.jinja" %}

{% set has_mini_nav = True %}

{% block content %}
<t>you silly goose! you can't be here!</t>
<t>code 403: forbidden</t>
<a href="{{ url_for('index') }}" class="anchor-button-funky">go home</a>
{% endblock content %}