{% extends "base.jinja" %}

{% set hasMiniNav, not_screen_centered, not_squid_bg = False, False, False %} {# technically optional, just to demonstate what state variables can be changed #}

{% block content %}
<div class="main-box">
    <t>i beefed it. this error's on me (probably) (unless ur doing something weird) (which, dont? ig?)</t>
    <t>error code: {{ code }}. idk what it means. google it or whatever.</t>
    <a href="/" class="funky-button"><p>go home</p></a>
</div>
{% endblock content %}