
:root {
    --background: #0a1127; /* used to be #0b132b */
    --background-tp: #0a11277f; 
    --bg-accent-dark: #141C36;
    --bg-accent: #1C2541;
    --midtone: #3A506B;
    --light-midtone: #4695A2;
    --accent: #52dad8;
    --text: #FFFFFF;
    

    font-size: medium;
    font-family: "Plus Jakarta Sans", "Helvetica", sans-serif;
    font-weight: 500;

    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

@keyframes pan {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.large-text {
    font-size: 1.5rem;
}

.mid-large-text {
    font-size: 1.25rem;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navbar {
    width: 65%;
    padding: 0 17.5% 0;
    height: 4rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left center right";
    align-items: center;

    border-bottom: dotted;
    border-color: var(--bg-accent);
    border-width: .15rem;
    background-color: var(--background);
    z-index: 10;
}

.navbar * {
    z-index: 10;
}

.home-anchor { 
    grid-column: 2 / 3;
    justify-self: center;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 3rem;
    padding: .25rem .25rem .25rem;

    color: var(--accent);
    transition: color .15s ease-in;
}

.home-anchor:hover {
    color: var(--text);
}

.home-anchor * {
    background-color: none;
}

.home-anchor i {
    font-size: 2rem;
    
}

.nav-left {
    justify-self: start;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-right {
    justify-self: end;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav-link {
    margin: 0 1rem 0;
    padding: .15rem 0 .15rem;
    font-size: 1rem;
    /* font-weight: 300; */

    transition: color .15s ease-in;
}

.nav-link:hover {
    color: var(--accent);
}

.navbar.mini-nav {
    height: 2.5rem;
}


.navbar.mini-nav .home-anchor {
    height: 2rem;
    padding: .15rem .15rem .15rem;
}

.navbar.mini-nav .home-anchor i {
    font-size: 1.5rem;
}

.navbar.mini-nav .nav-left,
.navbar.mini-nav .nav-right {
    display: none;
}


.content {
    margin-top: 1rem;
    z-index: 0;
}

.content.screen-centered {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0;

    display: grid;
    grid: auto max-content auto / auto max-content auto;
    grid-template-areas: 
        ". . ."
        ". center ."
        ". . .";
}

.content.screen-centered :first-child{
    grid-area: center;
}

.squid-bg {
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url("squid-tileable-white.svg");
    background-size: 10rem;
    opacity: 5%;
    /* animation: pan 360s linear infinite; */
}

.squid-bg-grad {
    z-index: -4;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: radial-gradient(circle, transparent 75%, var(--background));
}

.main-box {
    padding: 3rem 2.5rem 3rem;
    background-color: var(--bg-accent);
    border-radius: 2rem;

    /* blur shadow */
    box-shadow: 0 0 3rem 3rem var(--background);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-box h1 {
    margin-top: 0;
}

.anchor-button-wide {
    margin: 1rem;
    height: 2rem;
    width: 12.5rem;
    padding: .5rem 1.25rem .5rem;
    border-radius: .5rem;

    font-weight: bold;

    background-color: var(--accent);
    color: var(--background);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: background-color .1s ease-in;
}

.anchor-button-wide:hover {
    background-color: var(--text);
}

.anchor-button-icon {
    margin: 1rem;
    height: 2rem;
    width: 2rem;
    padding: .5rem;
    border-radius: .5rem;

    background-color: var(--accent);
    color: var(--background);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;

    transition: background-color .1s ease-in;
}

.anchor-button-icon:hover {
    background-color: var(--text);
}

.anchor-button-funky {
    margin-top: 2rem;
    margin-bottom: 1rem;
    z-index: 7;
    height: 2.5rem;
    padding: .75rem 1.5rem .75rem;
    border-radius: .75rem;
    width: 17.5rem;

    background-color: var(--accent);
    color: var(--background);
    border: solid;
    border-color: var(--background);
    box-shadow: 0 1rem var(--background);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: margin-top .1s ease-in, margin-bottom .1s ease-in, box-shadow .1s ease-in, background-color .1s ease-in;
}

.anchor-button-funky i {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2.5rem;
}

.anchor-button-funky p {
    font-size: 1.2rem;
    font-weight: bold;
}

.anchor-button-funky:hover {
    margin-top: 2.25rem;
    margin-bottom: .75rem;
    box-shadow: 0 .75rem var(--background);
    background-color: var(--text);
}

.data-disclosure {
    width: 20rem;
    padding: 1rem 0 1rem;
    border-top: dotted;
    border-bottom: dotted;
    border-color: var(--midtone);
}

.data-disclosure h3 {
    margin: 1rem 0 0;
}

.data-disclosure ul {
    margin: .5rem 0 2rem;
}

.data-disclosure p {
    margin-top: .5rem;
}

.divider {
    border-top: dotted;
    border-color: var(--midtone);
}

.data-disclosure .divider {
    width: 20rem;
}

.profile-top-row {
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: .2rem 0 .7rem;
}

.profile-top-right {
    margin-left: 2rem;
    width: 31rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-username {
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 5rem;
}

.big-username h1 {
    margin: 0 0 .25rem;
    font-size: 2.5rem;
}

.id {
    margin: .25rem 0 .125rem ;
    font-size: .75rem;
    opacity: 75%;
}

.profile-money {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
}

.profile-money i {
    font-size: 2rem;
    color: var(--accent);
}

.profile-money p {
    margin: 0 .5rem 0;
    font-size: 1.5rem
}

.avatar-big {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: .2rem solid var(--accent);
}

.profile-input-row {
    height: 3rem;
    margin: .75rem 0 .75rem;
    color: var(--text);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-input-row h3 {
    display: block;
    font-size: 1.25rem;
    min-width: 6.5rem;
    text-align: right;
    padding-right: 1rem;
}

input[type="text"] {
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: .2rem dotted var(--midtone);
    height: 3rem;
    background-color: transparent;
    font-size: 1.25rem;
    font-family: inherit;
    color: var(--text);
}

::placeholder {
    color: var(--midtone);
    opacity: 1; /* Firefox */
}
  
::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--midtone);
}

.profile-input-row input[type="text"] {
    width: 35.5rem;
}

.profile-button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 5.5rem;
    margin-top: 2rem;
}

.profile-button-row .anchor-button-funky {
    margin-top: 0;
}

.dev-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dev-panel-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dev-panel-row * {
    margin: .75rem .5rem .75rem;
}

.dev-panel-col-wide {
    width: 12rem;
}

.dev-panel-col-medium {
    width: 8rem;
}

.dev-panel-col-skinny {
    width: 4rem;
}

.dev-panel-col-wide input[type="text"], .dev-panel-col-medium input[type="text"], .dev-panel-col-skinny input[type="text"] {
    width: 100%;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 0.5rem;
    background-color: var(--accent);
    width: 3rem;
    height: 3rem;

    transition: background-color .1s ease-in;
}

input[type="checkbox"]::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    clip-path: polygon(77% 0, 100% 11%, 54% 100%, 0 71%, 14% 48%, 43% 65%);
    transform: scale(0);
    background-color: var(--background);
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:hover {
    background-color: var(--text);
}

.leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-size: 1.5rem;
    max-height: 28rem
}

.leaderboard-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1rem 1rem;
}

.leaderboard-rank {
    width: 4rem;
    display: flex;
    justify-content: center;
}

.leaderboard-rank i {
    color: var(--accent);
}

.leaderboard-name {
    display: flex;
    align-items: center;
    margin: 0 1rem 0;
    width: 40rem;
}

.leaderboard-name t {
    margin-left: 1rem;
}

.leaderboard-money {
    display: flex;
    flex-direction: row-reverse;
    justify-self: flex-end;
    align-items: center;
    width: 6rem;
    text-align: right;
    margin-right: 1rem;
}

.leaderboard-money i {
    color: var(--accent);
    margin-left: .5rem;
    margin-top: .1rem;
}

.lr-dark {
    background-color: var(--bg-accent-dark);
    border-radius: 1rem;
}

.avatar-medium {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--accent);
    border-width: .1rem;
}

textarea {
    background-color: var(--bg-accent-dark);
    color: var(--text);
    font-family: "Jetbrains Mono", monospace;
    border: none;
    padding: .3rem;
    border-radius: .3rem;
    resize: none;
}

textarea:focus {
    outline: none;
}

select {
    background-color: var(--bg-accent-dark);
    color: var(--text);
    font-family: inherit;
    border: none;
    padding: .25rem;
    border-radius: .25rem;
    border-right: .25rem solid transparent;
}

.dev-panel-row select {
    width: 100%;
    margin-right: 0px;
}

.vertical-divider {
    border-left: dotted;
    border-color: var(--midtone);
    height: 100%;
}

.scrollable {
    overflow-y: auto;
    scrollbar-color: var(--midtone) transparent;
    scrollbar-width: thin;
}

.bracket-box {
    width: 60rem;
    height: 32rem;
    position: relative;
}

.bracket-vert-line {
    position: absolute;
    border-left: .2rem dotted var(--midtone);
    width: 0;
}

.bracket-hori-line {
    position: absolute;
    border-top: .2rem dotted var(--midtone);
    height: 0;
}

.bracket-image-container {
    position: absolute;
}

.bracket-image-outline {
    border: .2rem dotted var(--midtone);
    border-radius: .5rem;
    width: calc(100% - .4rem);
    height: calc(100% - .4rem);
    /* width: 100%;
    height: 100%; */
}

.bracket-image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.defeated {
    opacity: .25;
}

.center {
    display: grid;
    place-items: center;
    grid-template: "center" 1fr / 1fr;
}

.bracket-divider {
    margin-bottom: 1rem;
    width: 100%;
}

.howdy {
    font-size: 3rem;
    margin-bottom: .75rem;
}

.howdy-sub {
    margin-top: .5rem;
    margin-bottom: 0;
}

.text-link {
    text-decoration: underline dotted;
}

.howdy-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 21rem;
    height: 28.5rem;
}

.howdy-text {
    margin: 0 .5rem 0;
}

.howdy-box p:first-of-type {
    margin-bottom: 1rem;
}

.text-accent {
    color: var(--accent);
}

.howdy-box .divider {
    width: 100%;
    margin: 1.5rem 0 1.5rem;
}

.howdy-box .anchor-button-funky {
    margin-top: 0rem;
}

.howdy-box .anchor-button-funky:hover {
    margin-top: .25rem;
}

.index-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.index-padding {
    width: 4rem;
}

.index-bracket-container {
    height: 28.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.index-bracket-name {
    margin-top: .25rem;
    margin-bottom:.25rem;
}

.index-bracket-box {
    height: 24rem;
    width: 45rem;
    position: relative;
}

.full-width {
    width: 100%;
}